{
  "overrides": [
    {
      "files": "*.ts",
      "options": {
        "singleQuote": true
      }
    },
    {
      "files": "*.html",
      "options": {
        "parser": "angular"
      }
    }
  ],
  "printWidth": 135,
  "bracketSameLine": true,
  "singleAttributePerLine": true
}
